.fundoCadastro {
  background-image: url("https://ik.imagekit.io/qctfo1npt/7B3588B8-BD88-4DD6-9F8F-B7B72CFC6EFA_1_201_a.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
