.fundoLogin {
  background-image: url("https://ik.imagekit.io/qctfo1npt/Cadastro%20BlogPessoal");
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}